* {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  position: relative;
}

.imgDetalhes {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 60%;
}

.resumo {
  width: 97%;
  color: white;
  position: absolute;
  padding: 5px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.h2Title {
  margin: 15px;
  width: 80%;
}
.pDesc {
  margin: 5px;
}
.tempo {
  width: 20%;
  min-height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin: 10px;
  position: absolute;
  padding: 0 4px;
  top: 0;
  right: 0;
  background-color: white;
}
.btnFinalizar {
  width: 30%;
  margin: 25px;
  background-color: #ff6600;
  color: white;
}
.btnFinalizar:hover {
  background-color: #e65c00;
}
.btnFinalizado {
  padding: 10px;
  width: 30%;
  margin: 25px;
  background-color: #0a9505;
  color: white;
}
.btnFinalizado:hover {
  background-color: #087f04;
}
.ulIng {
  width: 70%;
}
.flexRow {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.flexRow input[type="checkbox"] {
  margin-right: 5px;
  width: 5%;
}
.flexColum {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
  flex-direction: column;
}
.labelPasso {
  margin-left: 15px;
  width: 80%;
}
.backDiv {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: end;
}

.backLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #e65c00;
  border-radius: 50%;
  margin-right: 50px;
  margin-bottom: 55px;
  cursor: pointer;
}

.backImg {
  margin-top: 8px;
  margin-left: 8px;
  width: 30px;
  height: 30px;
}

.backDirect {
  width: 50px;
  height: 50px;
}

@media (max-width: 510px) {
  .pDesc {
    font-size: 10px;
  }
}
